---
---

@import "{{ site.theme }}";

.site-nav ul {
    list-style-type: none;
    padding: 5px 0;
    li {
        display: inline;
        padding-right: 10px;
        
    }
    text-align: center;
}

.menu-separator {
    padding-right: 11px;
}
section #title h1 {font-family: 'Fira Sans Condensed', sans-serif; }

#header {
    height: 150px;
    background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/29312988_2091927084385656_5797057753302171648_n.jpg?oh=a49378bcfd4ae773ec16be5d5fc59a39&oe=5B2CB6D7 );
