---
---

@import "{{ site.theme }}";

.site-nav ul {
    list-style-type: none;
    padding: 5px 0;
    li {
        display: inline;
        padding-right: 10px;
        
    }
    text-align: center;
}

.menu-separator {
    padding-right: 11px;
}
section #title h1 {font-family: 'Fira Sans Condensed', sans-serif; }

